
@{
    ViewBag.Title = "Add Pet";
}

<div class="row  background_bubbles">
    <h3>
        <small> Add New  </small> Pet:
        @Html.ActionLink("← Back", "Index", null, new { @class = "btn btn-warning btn-xs", role = "button" })
    </h3>
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        @Html.Partial("PetEdit")


        <div class="row">
            <div class="col-sm-6 col-md-4">
                @Html.ActionLink("← Back", "Index", null, new { @class = "btn btn-warning", role = "button" })
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
}
